div#wpcontent,
div#wpwrap {
    background: #f7f8fa;
    div#wpbody-content {
        justify-content: space-around;
        padding: 3.313rem!important;
    }
}

    .wp-core-ui select {
        padding: unset;
    }

